# Copy to terraform.tfvars and set required secrets before apply.
aws_region              = "ap-south-1"
project_name            = "emqx-prod"
emqx_version            = "5.8.9"
emqx_node_cookie        = "ChangeThisCookieForProduction"
emqx_dashboard_username = "admin"
emqx_dashboard_password = "ChangeMe!StrongPassword"
dashboard_allowed_cidr  = "0.0.0.0/0"
ssh_allowed_cidr        = "0.0.0.0/0"
core_instance_type      = "t3.small"
replicant_instance_type = "t3.small"
replicant_min_size      = 1
replicant_desired_capacity = 1
replicant_max_size      = 4
scale_out_network_target_bytes = 20000
scale_out_network_evaluation_periods = 2
scale_out_cpu_threshold        = 1
scale_in_cpu_threshold         = 3
autoscaling_cooldown_sec       = 60
