project_name            = "emqx-prod"
aws_region              = "ap-south-1"
vpc_cidr                = "10.42.0.0/16"
az_count                = 3
ec2_instance_type       = "t2.small"
ecs_instance_desired_count = 1
ecs_instance_min_count     = 1
ecs_instance_max_count     = 1

core_cpu                = 4096
core_memory             = 8192
core_desired_count      = 3

replicant_cpu           = 4096
replicant_memory        = 8192
replicant_desired_count = 4
replicant_min_count     = 2
replicant_max_count     = 20

autoscale_cpu_target    = 60
autoscale_memory_target = 70

mqtt_port               = 1883
mqtt_tls_port           = 8883
dashboard_port          = 18083

emqx_image              = "emqx/emqx:5.8.4"
emqx_dashboard_username = "admin"
emqx_dashboard_password = "ChangeMe!StrongPassword"
emqx_node_cookie        = "ChangeThisCookieForProduction"
